@charset "UTF-8";
/* CSS Document */

/*div {
  border: 1px solid black;
}*/


/* Universal Styles */

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.media-container {
  width: 60%;
  height: auto;
}

.media-container img {
  width: 100%;
  height: auto;
}

body {
  width: 60rem;
  margin: 0 auto;
}

/* Header Section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  width: 60rem;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  height: 100%;
}

.logo img {
  height: 2rem;
}

.name {
  height: 1rem;
  font-size: 1rem;
}

nav {
  height: 100%;
  display: flex;
  margin-right: 1.5rem;
}

nav a {
  text-decoration: none;
  color: black;
}

.border {
  width: 1rem;
  background-color: turquoise;
}

/* First Section (BANNER) */

.banner.container {
  display: flex;
  position: relative;
  top: 4rem;
  background-color: lightgrey;
  width: 100%;
  height: 30rem;
}

.banner.media-container {
  margin: 2rem 1.5rem;
  width: 60%;
  height: 26rem;
}

.banner.media-container img {
  width: 100%;
  height: auto;
}

.banner-text-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 20rem;
}

.start-button {
  height: 3rem;
  width: 16rem;
  background-color: grey;
}

.start-button a {
  text-decoration: none;
  color: white;
  padding: 1rem auto;
}

/* Second Section (MAIN)*/

.main.container {
  display: flex;
  position: relative;
  top: 4rem;
  width: 100%;
  height: 30rem;
  background-color: white;
  margin: 2rem 0;
}

.main.first-column {
  margin: 0 1.5rem;
  width: 60%;
  height: auto;
}

.main.media-container {
  width: 36rem;
  height: auto;
}

.main.media-container img {
  width: 100%;
  height: auto;
}

.main.second-column {
  width: 40%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  border-left: 0.5px solid lightgrey;
}

.main-small-container {
  height: 10rem;
  display: flex;
}

.main.sml-img-container img {
  width: 8rem;
  height: auto;
}

.orientation {
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.campus {
  padding-left: 1rem;
  padding-right: 1rem;
}

.lecture {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.guest {
  background-color: lightgrey;
}

p {
  font-size: 0.9rem;
}

.reference {
  font-size: 0.75rem;
}

.main.text a {
  text-decoration: none;
}

/* Third Section (COURSES) */

.courses.container {
  position: relative;
  top: 4rem;
  background-color: lightgrey;
  width: 100%;
  height: 45rem;
}

.courses.container h1 {
  text-align: center;
  margin-top: 2rem;
  padding-top: 2rem;
}

.courses-presentation-container {
  display: flex;
  /*justify-content: space-around;*/
  flex-wrap: wrap;
  width: auto;
  height: auto;
  margin: 0 3.5rem;
}

.course {
  width: 15rem;
  margin: 1rem;
  background-color: white;
}

.course-img-container {
  width: 15rem;
}

.course-img-container img {
  width: 15rem;
}

/* Fourth Section (THESIS) */

.thesis-column-container {
  display: flex;
}

/* Footer Section */

footer {
  display: flex;
  justify-content: space-between;
}
