@charset "UTF-8";
/* CSS Document */

/* Universal Styles */

html {
  font-family: "Cabin", Helvetica, sans-serif;
  font-size: 16px;
}

body {
  width: 60rem;
  margin: 0 auto;
}

p {
  font-size: 0.9rem;
}

h1,
h3,
h4 {
  font-family: "Roboto", Helvetica, sans-serif;
}

@media only screen and (max-width: 480px) {
  body {
    width: 29rem;
    margin: 0 auto;
  }
}

/* Header Section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  width: 60rem;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  height: 100%;
}

.logo img {
  height: 2rem;
}

.name {
  height: 1rem;
  font-size: 1rem;
}

.name .bold {
  font-weight: bold;
}

nav {
  height: 100%;
  display: flex;
  margin-right: 1.5rem;
}

nav a {
  text-decoration: none;
  color: black;
}

nav div {
  font-size: 0.9rem;
  font-weight: bold;
  padding-top: 1.5rem;
  transition-property: background-color;
  transition-duration: 1s;
}

nav div:hover {
  background-color: turquoise;
}

.border {
  width: 1rem;
  background-color: turquoise;
}

.mobile-nav {
  display: none;
}

/* Header Section MOBILE */

@media only screen and (max-width: 480px) {
  .logo,
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30rem;
    height: 4rem;
  }
}

/* First Section (BANNER) */

.banner.container {
  display: flex;
  position: relative;
  top: 4rem;
  background-color: #c2c2a3;
  width: 100%;
  height: 30rem;
}

.banner.media-container {
  margin: 2rem 1.5rem;
  width: 60%;
  height: auto;
}

.banner.media-container img {
  width: 100%;
  height: auto;
}

.banner-text-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 16rem;
  margin-left: 1.5rem;
}

.banner-text-container h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.banner-text-container h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.start-button {
  height: 3rem;
  width: 16rem;
  background-color: #404040;
  transition-property: background-color;
  transition-duration: 1s;
}

.start-button:hover {
  background-color: turquoise;
}

.start-button a {
  text-decoration: none;
  color: white;
  padding: 1rem auto;
}

.mobile-banner-container {
  display: none;
}

/* First Section (BANNER) MOBILE */

@media only screen and (max-width: 480px) {
  .banner.container {
    display: none;
  }

  .mobile-banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 43rem;
    background-color: #c3c3a2;
  }

  .mobile-banner-container .banner.media-container {
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }

  .mobile-banner-container h1 {
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem 1rem;
    text-align: left;
  }

  .mobile-banner-container h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 1rem 1.5rem 1rem;
    text-align: left;
  }

  .start-button {
    width: 25rem;
  }
}

/* Second Section (MAIN) */

.main.container {
  display: flex;
  position: relative;
  top: 4rem;
  width: 100%;
  height: 30rem;
  background-color: white;
  margin: 2rem 0;
}

.main.first-column {
  margin: 0 1.5rem;
  width: 60%;
  height: auto;
}

.main.first-column h1{
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.main.first-column p {
  font-size: 0.75rem;
  margin-bottom: 1.5rem;
}

.main.first-column .reference {
  font-size: 0.75rem;
  font-weight: bold;
}

.main.media-container {
  width: 36rem;
  height: auto;
}

.main.media-container img {
  width: 100%;
  height: auto;
}

.main.second-column {
  width: 40%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  border-left: 0.5px solid #c2c2a3;
}

.main.second-column p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.main.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main.text h4 {
  margin-bottom: 0;
  font-weight: bold;
}

.main.text p {
  font-size: 0.75rem;
}

.main-small-container {
  height: 10rem;
  display: flex;
}

.main.sml-img-container img {
  width: 8rem;
  height: auto;
}

.orientation {
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.campus {
  padding-left: 1rem;
  padding-right: 1rem;
}

.lecture {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.guest {
  background-color: #c2c2a3;
}

.read-more a {
  text-decoration: none;
}

.mobile-main-container {
  display: none;
}

/* Second Section (MAIN) MOBILE */

@media only screen and (max-width: 480px) {
  .main.container {
    display: none;
  }

  .mobile-main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    width: 30rem;
    height: 62rem;
  }

  .main.text h4{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  .main.text p{
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  .main.sml-img-container {
    width: 100%;
    height: auto;
  }

  .main.sml-img-container img {
    width: 90%;
    height: auto;
  }

  .main.text {
    padding: 1rem 2rem;
  }


}


/* Third Section (COURSES) */

.courses.container {
  position: relative;
  top: 4rem;
  background-color: #c2c2a3;
  width: 100%;
  height: 42rem;
}

.courses.container h1 {
  text-align: center;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.courses-presentation-container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  margin: 0 3.5rem;
  justify-content: center;
  padding-bottom: 2rem;
}

.course {
  width: 15rem;
  margin: 1rem;
  background-color: white;
}

.course p,
.course h4 {
  padding-left: 1rem;
}

.course h4 {
  font-weight: bold;
  margin-top: 1rem;
}

.course p {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}

.course .desc {
  padding-bottom: 1.5rem;
}

.course-img-container {
  width: 15rem;
}

.course-img-container img {
  width: 15rem;
}

/* Third Section (COURSES) MOBILE */



/* Fourth Section (THESIS) */

.thesis.container {
  position: relative;
  top: 4rem;
}

.thesis.container h1 {
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.thesis-column-container {
  display: flex;
  margin-bottom: 2rem;
}

.thesis.media-container {
  width: 36rem;
  height: auto;
  margin-bottom: 0;
}

.thesis.media-container video {
  width: 100%;
  height: auto;
}

.thesis.first-column h4 {
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.thesis.first-column p {
  font-size: 0.75rem;
}

.thesis.first-column {
  margin: 0 1.5rem;
  width: 60%;
}

.thesis.second-column {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.exhibit {
  display: flex;
  height: 10rem;
}

.prototype {
  background: #c2c2a3;
}

.thesis.sml-img-container img {
  width: 8rem;
  height: auto;
  padding: 1rem;
}

.info.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info.text h4 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.info.text p {
  font-size: 0.75rem;
}

/* Fourth Section (THESIS) MOBILE */



/* Footer Section */

footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 4rem;
  height: 4rem;
  width: 100%;
  font-size: 0.75rem;
  padding-top: 1rem;
  border-top: 0.5px solid #c2c2a3;
}

.copyright {
  margin-left: 1.5rem;
}

.terms a{
  text-decoration: none;
  color: black;
}

.terms span {
  padding: 0.5rem;
}

/* Footer Section MOBILE */
